.top {
  padding-top: 2%;
  width:30%; 
  margin:0 auto;
}

.middle {
  padding-top: 2%;
}

.footer{
  margin-top: 5%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: none;
}

th, td {
  text-align: left;
  padding: 8px;
  border: none;
}

.popular-image{
  max-height: 100px;
  max-width: 100px;
  padding-left: 10%;
  padding-right: 10%;
}

.carosel-table{
  height: 105px;
}



tr:nth-child(even){background-color: #f2f2f2}